.share-nanny-cost-h2 {
  height: 64px;
  margin: 0 0 20px 0;
  width: 250px;
}

.share-nanny-cost-p {
  height: auto;
  margin: 0 0 40px 0;
  width: 444px;
  text-align: justify;
}

.share-nany-cost-link {
  color: #021F54;
}

@media screen and (max-width: 415px) {
  .share-nanny-cost-h2 {
    text-align: center;
    width: 95vw;
  }

  .share-nanny-cost-p {
    text-align: center;
    width: 90vw;
  }

  .nanny-cost-section-image {
    width: 95vw;
  }

  .share-nany-cost-link {
    text-align: center;
  }
}