.image-paragraph-section {
  display: flex;
  justify-content: center;
  margin: 5vw 10vw 5vw 10vw;
  width: 80vw;
}

.image-paragraph-content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.image-paragraph-content-reverse {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.image-paragraph-description {
  margin: 0 0 0 60px;
}

.orange-p {
  color: #FF8800;
}

.grey-p {
  color: #2F2E2E;
  font-weight: bold;
}

@media screen and (max-width: 415px) {
  .image-paragraph-section {
    margin: 10vw 0 10vw 0;
    top: 820px;
    width: 100vw;
  }

  .image-paragraph-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
  }

  .image-paragraph-content-reverse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
  }

  .image-paragraph-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin: 20px 0px 0px 0px;
    width: 100vw;
  }

  .image-paragraph-icon {
    width: 95vw;
    justify-content: center;
    display: flex;
  }
}